<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Data with Upload</title>
    </head>
    <body>
    <h1>Customer Data with Upload</h1>
    <ul>
        {% for customer in customers %}
            <li>
                <strong>ID:</strong> {{ customer.id }}<br>
                <strong>Name:</strong> {{ customer.name }}<br>
                <strong>Age:</strong> {{ customer.age }}<br>
                <strong>Occupation:</strong> {{ customer.occupation.name }}<br>
                <strong>Is Saint:</strong> {{ customer.occupation.isSaint }}<br>
                
                <form action="/admin/upload_for_customer/{{ customer.id }}" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="fileNameInput">Photo Name:</label>
                        <input type="text" id="fileNameInput" name="file_name" required>
                    </div>
                    <div>
                        <label for="fileInput">Choose file to upload:</label>
                        <input type="file" id="fileInput" name="file" required>
                    </div>
                    <div>
                        <button type="submit">Confirm</button>
                    </div>
                </form>
                <hr>
            </li>
        {% endfor %}
    </ul>
    </body>
</html>